.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 45;
  background-color: white;
}
.btns {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
