.wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding: 10px;
  font-size: 2rem;
}
.btns {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
